*{
    margin: 0;
    padding: 0;
}
.padre{
    width: 100vw;
}

.section1{
    height: 100vh;
}

.terapias{
    background-image: url(images/blur-hospita.png);
    height: 100%;
}



.menu li{
    list-style: none;
    display:inline-block;
    
}

.boton{
    border: 1px solid #fff;
    background: #fff;
    color: #000;
    box-shadow: 1px 1px rgb(134, 134, 134);
    text-decoration: none;
    display:flex;
    border-radius:20px;
    width: 200px;
    justify-content:center;
    align-items:center;
    text-align: center;
    margin-top:40px;

}

.navbar{
    width: 100vw;
    display: flex;
    height: 20%;
}

.nav{
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    align-items: flex-start;
    padding-top:5px;
    

}

.imagen__logo{
width: 20%;
margin-top: 10px;
margin-left: 10px;
}



.menu{
    width: 80%;
    text-align: right;
    margin-right: 30px;
    font-size: 24px;
    margin-top: 75px;
    padding-right: 80px;

}
a{
    text-decoration: none;
    color: black;
}
.menu li{
    margin-right: 4px;
    margin-left: 4px;
    font-family: roboto;
    font-weight: 400;
    font-size: 1.3rem;
    
    text-decoration: none;
    margin-left: 10px;
}

.imagen1{
    width: 15%;
    margin:5px;
}

.terapias{
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.imagenes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}

.crier{
    width: 70%;
    margin:25px;
    margin:auto;
    margin-top: 32px;
    text-align:center;
}
.nosotros{
    height:80%;
    width: 100vw;
}

.valores{
    display: flex;
    width: 100vw;
    height:50vh;
    flex-direction: column;
    align-items: center;
    padding-top:160px;
    padding-bottom:20px;
    margin-bottom: 30px;
    justify-content: space-evenly;
    background-color: #ececec;
}

.contenidovalores{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.textovalores{
    font-family: roboto;
    font-weight:600, semibold;
    font-size:23px;
    text-align:center;
    text-transform:uppercase;
}


.titulovalores{
    text-transform:uppercase;
}

.imgvalores{
    height: 29%;
    margin: 30px;
    margin-bottom:16px;
}

.calidad{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.especialidadpar{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    margin:auto;
    margin-bottom: 3%;
}

.especialidadimpar{
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    margin:auto;
    margin-bottom: 3%;
}

.textoterapias{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    width: 50%;
    font-family: roboto;
    font-weight: 600, semibold;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

.imagenterapias{
    width: 50%;
}

.contacto{
    display:flex;
    flex-direction: row;
    width: 80%;
}
 
.imagen-contacto{
    width: 80%;
    margin:auto;
}

.especialidades{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form-contacto{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    background: #fafa;
    height: 40vh;
    margin-top: 15px;
    padding-bottom: 15px;
    justify-content: space-around;
    
}
ul {
    list-style: none;
    margin: 0 auto;
    text-align: center;
}

.mapa{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top:35px;
    padding-bottom: 40px;
    background-color: #e7e7e7;
}

.titulo_mapa{
    text-align: center;
   

}

/* estilo de fuentes */
.crier{
    font-family: roboto;
    font-weight: 400;
    font-size: 23px;
}

iframe{
    border-radius: 20px;
}
.profesionales{
    display: flex;
    width: 80vw;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.profesionales1 img{
    width:90%;
    max-width: 550px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: auto;
}

.nosotros{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.crier-nosotros{
    padding-bottom: 40px;
    font-family: roboto;
    font-weight: 400;
    font-size: 23px;
    width: 70%;
    margin:25px;
    margin:auto;
    margin-top: 32px;
    text-align:center;
}

.profesionales h3{
    padding-top: 30px;
}

.nosotros-terapias{
    background-image: url(images/blur-hospita.png);
    height: 100%;

    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}
.form-contacto-2{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    background: #fafa;
    height: 40vh;
    margin-top: 15px;
    padding-top: 25px;
    padding-bottom: 15px;
    justify-content: space-around;
}

.educacion{
    background-image: url(images/blur-hospita.png);
    height: 100%;

    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.educacion-texto h3{
    padding-bottom: 40px;
    font-family: roboto;
    font-weight: 400;
    font-size: 23px;
    width: 70%;
    margin:25px;
    margin:auto;
    margin-top: 32px;
    text-align:center;

}


@media screen and (max-width:800px){
    /* .textoterapias h3{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
        text-align: center;
        width: 50%;
        font-family: roboto;
        font-weight: 600, semibold;
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
    } */

    h3{
        font-size: 0.85em;
    }

    .textoterapias{
        
        margin-top: 28px;

    }
    .boton {
        
        margin-top: 5px;
    }

}


@media screen and (max-width:550px){
    .especialidadpar{
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-items: center;
        margin:auto;
        margin-bottom: 3%;
    }
    .especialidadimpar{
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-items: center;
        margin:auto;
        margin-bottom: 3%;
    }
    .textoterapias{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
        text-align: center;
        width: 80%;
        min-width: 190px;
        font-family: roboto;
        font-weight: 600, semibold;
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 15px;
    }
    .boton {
        
        font-size: 13px;
    }
    .imagenterapias{
        width: 80%;
        min-width: 200px;
    }
    .imagenes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        height: 300px;
    }
    .imagen1 {
        width: 90px;
        margin: 5px;
    }
    
    .valores {
        display: flex;
        
        height: 750px;
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        justify-content: space-evenly;
        background-color: #ececec;
    }
    .contenidovalores{
        display: flex;
        flex-direction:column;
        justify-content: space-evenly
    }
    .calidad{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 200px;
    }

    .terapias{
        display:flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        height: 200px;
    }
.crier{
    font-size:15px;
}
.especialidades{
    padding-top:20px;

}

.form-contacto {
    font-size:25px;

} 
.form-contacto h4{
    font-size:14px;
} 

.terapias {
    background-image: url(images/blur-hospita.png);
    height: 600px;
}

}